fsbody {
  background-color: powderblue;
}
h2 {
  color: darkslategrey;
  text-align: center;
  font-size: large;
  font-family: Jokerman;
  text-decoration: blink;
  outline-color: aquamarine;
}
p {
  color: greenyellow;
}

banner {
      width: 420px; 
      height: 420px; 
      display: block;
    }

.aboutBody {
    background-image: url('../images/comebacklater.png'); /* Background image */
    background-size: auto;
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: scroll; /* Makes the background scroll */
    width: 100%; /* Ensures the body takes up the full width */
    display: flex; /* Use flexbox to center content if needed */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    color: aliceblue; /* Optional: Ensures text stands out on the background */
}

.banner {
    width: 55vw;
    min-width: 330px;
    margin: 0 auto;
    display: block;
}

#demo {
    text-align: center;
    color: blueviolet;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #8a26be; /* Button color */
    border: none;
    color: aliceblue;
    font-size: 1.2em;
    cursor: pointer;
}

    button:hover {
        background-color: #e76f51; /* Darker shade on hover */
    }